!**/glob-import/dir/node_modules
.DS_Store
.idea
*.cpuprofile
*.local
*.log
/.vscode/
/docs/.vitepress/cache
/packages/vite/LICENSE
dist
dist-ssr
explorations
node_modules
temp
TODOs.md
.eslintcache
/*.env
/example/.env
/example_node/.env
/screenshots
/example_react/.env
